.home-title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 25%;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  text-align: center;
}

.home-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800;
  margin-bottom: 10px;
}

.fbPage{
  width: 500px;
}

@media screen and (max-width: 600px){

  .card{
    width:100%;
    margin-bottom: 10px;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }

  .home-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .fbPage{
    width:100%;
    overflow-x: scroll;
    margin-bottom: 10px;
  }

  .fbPage:after{
    
  }
}