/* .home-content{
  margin-left: 10%;
} */

.home-title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.card {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  text-align: center;
}

.home-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 10px;
}

.fbPage{
  min-width: 100%;
  overflow-x: scroll;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  min-height: 100%;
  justify-content: center;
}

/* @media screen and (max-width: 1000px), screen and (max-height: 700px){

  .card{
    width:100%;
    margin-bottom: 10px;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }

  .home-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .fbPage{
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }

  .fbPage:after{
    
  }
} */