.signUp-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color:  rgb(33,37,41);
    color: white;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 20px -5px black;
  }

.signup-option{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.signup-option>span>a{
  color:  rgb(242,182,92);  
}

.signup-option>span>a:hover{
  color:  blue
}