/* @media all {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: rgb(230, 230, 230);  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .2s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	 */

.dropdown-menu {
    right: 0;
    left: auto;
}

.auth-button>a{
	color: white;
	border-radius: 10px;
}

.auth-button>a:hover{
	color: rgb(242,182,92);
}


.auth-button>a:focus{
	color: rgb(242,182,92);
}

.nav-link{
	border-radius: 10px;
}

.nav-link:hover{
	background-color: rgb(242,182,92);
	color: black !important;
	transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@media screen and  (max-width: 600px){

	.auth-button{
		width: 100%;
		text-align: center;
	}

}
