.hDiv{
    background-color: rgb(33,37,41);
    color: white;
    display: flex;
    justify-content: space-between;
}

.ul {
    list-style: none;
    display: flex;
}

.ul > li {
    padding: 10px;
}