.eventName {
  width: 85%;
}

.description{
  text-indent: 25px;
}

/* @media screen and  (max-width: 1000px), screen and (max-height: 700px){

  .event-container{
    height: 100%;
  }

	.banner-image{
    width: 100% !important;
  }

  .titleContainer{
    flex-direction: column;
    align-items: center;
  }
} */