.footer {
  background-color: rgb(33, 37, 41);
  color: white;
  height: 2em;
  bottom: 0;
  width: 100%;
}

.text {
  position: absolute;
  left: 20%;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  right: 20%;
  position: absolute;
}

.icons > li {
  padding-left: 1em;
}

.react-icons {
  color: rgb(255, 255, 255);
}

.react-icons:hover {
  color: goldenrod;
}
